<div class="container">
  <div>
    <h1>{{ title }}</h1>
  </div>
  <div>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{user.email}}</p>
    <div class="item">
      <label>First Name:</label>
      <input [(ngModel)]="user.firstName" type="text" id="newName" name="newName" [disabled]="dataloading"
        (ngModelChange)="clearErrors()" />
    </div>
    <div class="item">
      <label>Second Name:</label>
      <input [(ngModel)]="user.lastName" type="text" id="newLastName" name="newLastName" [disabled]="dataloading"
        (ngModelChange)="clearErrors()" />
    </div>
    <button type="button" (click)="saveProfile(user)" [disabled]="dataloading">
      Save
    </button>
  </div>

  <div *ngIf="dataloading">
    <p>Loading profile...</p>
  </div>
  <div *ngIf="savingProfile">
    <p>Saving profile...</p>
  </div>
  <div *ngIf="dataErrorMessage && dataErrorMessage.length > 0">
    <p>{{dataErrorMessage}}</p>
  </div>
  <div *ngIf="savingErrorMessage && savingErrorMessage.length > 0">
    <p>{{ savingErrorMessage }}</p>
  </div>
</div>